nav{
    width: 100%;
    height: 80px;
    background-color: #2b2b2b;
    padding-left: 10%;
    padding-right: 10%;
    
}

.logo{
    float: left;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
}

.nav-con{
   float: right;
   width: 100%;
   height: 60px; 
   padding-top: 2px;
   margin-top: 2px;
}

nav ul{
    list-style: none;
}

.ul a{
    color: white;
    text-decoration: none;
}

nav li{
    float: left;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

nav li:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.active{
    background-color: red;
    color: white;
}

header{
    width: 100%;
    height: 600px;
    background-color: lightgrey;
    color: black;
    background-image: url("../assets/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.overlay{
    width: 100%;
    height: 600px;
    background-color: rgba(0,0,0,0.4);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 150px;
}

header h3{
    font-size: 23px;
}

header h1{
    font-size: 70px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;

}

header p{
   font-size: 15px;
}

.inverted-bt{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.inverted-bt:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid black;
}

.col-12{
    width:100%;
    height: 80px;
    background: #2b2b2b;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.col-12 h3{
    font-family: 'Lilita One', cursive;
}

.round-image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background-image: url("../assets/hands.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 35%;
}

/* .round-image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
} */


.text{
    padding-right: 10%;
    padding-top: 50px;
    width: 47%;
}

.inverted-bt2{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.inverted-bt2:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.card{
    text-align: center;
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
    /* padding-bottom: 70px; */
    border: none;
}

.round-image21{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-color: 0 auto; */
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("../assets/old_eleven.png");
    background-position: center;
    background-size: cover;
    /* margin-left: 35%; */
}

.round-image22{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-color: 0 auto; */
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("../assets/old_mike.png");
    background-position: center;
    background-size: cover;
    /* margin-left: 35%; */
}

.round-image23{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-color: 0 auto; */
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("../assets/old_dustin.png");
    background-position: center;
    background-size: cover;
    /* margin-left: 35%; */
}

.round-image24{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-color: 0 auto; */
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("../assets/zombie.jpg");
    background-position: center;
    background-size: cover;
    /* margin-left: 35%; */
}

/* .round-image2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-bottom: 10px;
} */


.normal-bt{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.normal-bt:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.col-box{
    width: 95%;
    height: 400px;
    background-color: lightgrey;
    margin: 0 auto;
}

.text2{
   width: 95%;
   margin-left: 20px;
   padding-top: 20px;
}

.text2 p{
    width: 70%;
}

.col-box2{
    width: 95%;
    height: 400px;
    background-color: lightgrey;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 400px;
}

footer{
    width: 100%;
    height:180px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding-top: 33px;
}

.socials1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: url("../assets/youtube.svg");
    background-position: center;
    background-size: cover;
   
}

.socials2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: url("../assets/facebook.svg");
    background-position: center;
    background-size: cover;
    
}

.socials3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: url("../assets/twitter.svg");
    background-position: center;
    background-size: cover;
   
}

.socials4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: url("../assets/instagram.svg");
    background-position: center;
    background-size: cover;
    
}